<div id="crumb">
  <div class="crumb-container">
    <a href="/verwijzers">Verwijzers</a> > Hulpgids Somatisch-symptoomstoornis
  </div>
</div>
<div class="article-container">
  <article id="verwijzers-verwijsgids">
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Wanneer verwijst u<br />cliënt naar Het Rughuis?</h1>
          <p>
            Een verwijzing is nuttig wanneer u vermoedt dat chronische wervelkolom gerelateerde
            pijnklachten langdurig en ernstig het leven van uw cliënt verstoren op één of meerdere
            vlakken:
          </p>
        </div>
        <div class="section-factoren">
          <div class="factor">
            <div class="factor-img">
              <img src="/images/factor_01.jpg" alt="Man met hand in hoofd" />
            </div>
            <div class="factor-txt">
              <h3>Cognitief & Emotioneel</h3>
              <ul>
                <li>toegenomen of overmatige gevoelens van somberheid</li>
                <li>angst</li>
                <li>spanning</li>
                <li>boosheid en/of frustratie</li>
                <li>zorgen over de gezondheid</li>
                <li>moeite met concentreren</li>
                <li>veel piekeren</li>
              </ul>
            </div>
          </div>
          <div class="factor">
            <div class="factor-img">
              <img src="/images/factor_02.jpg" alt="Vrouw met gezicht in kussen gedrukt" />
            </div>
            <div class="factor-txt">
              <h3>Gedragsmatig</h3>
              <ul>
                <li>activiteiten vermijden of niet meer kunnen doen</li>
                <li>terugtrekgedrag</li>
                <li>structurele overbelasting</li>
                <li>(overmatig) gebruik van pijnmedicatie</li>
                <li>buitensporig veel tijd en energie besteden aan de klachten</li>
                <li>catastroferende gedachten en gedrag</li>
              </ul>
            </div>
          </div>
          <div class="factor">
            <div class="factor-img">
              <img src="/images/factor_03.jpg" alt="Man met slapeloosheid" />
            </div>
            <div class="factor-txt">
              <h3>Lichamelijk</h3>
              <ul>
                <li>verhoogde spierspanning</li>
                <li>slaapproblemen</li>
                <li>vermoeidheid</li>
                <li>continu alert</li>
                <li>prikkelgevoeliger</li>
                <li>moeite met ontspannen</li>
              </ul>
            </div>
          </div>
          <div class="factor">
            <div class="factor-img">
              <img src="/images/factor_04.jpg" alt="Ruziënd koppel" />
            </div>
            <div class="factor-txt">
              <h3>Sociaal</h3>
              <ul>
                <li>invloed op rol als partner, ouder, werknemer en/of vriend</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="pijngedrag">
      <div class="section-container">
        <h2>Pijngedrag</h2>
        <p>
          Ook pijngedrag kan een belangrijke indicator zijn dat psychosociale factoren hun spoor
          trekken op de klachten van uw cliënt. Binnen Het Rughuis zien we verschillende pijncoping
          strategieën afzonderlijk of gecombineerd optreden:
        </p>
        <div class="pijngedrag-container">
          <div class="gedrag">
            <div class="gedrag-header">
              <h3>Catastroferend</h3>
              <span>Verwachten dat (toename van) de klacht rampzalige gevolgen zal hebben</span>
            </div>
            <div class="gedrag-houding">
              <div class="houding-img">
                <h4>Houding</h4>
                <figure>
                  <img src="/images/pijngedrag_01.jpg" alt="Foto van huilend persoon" />
                  <figcaption>angstig, vermijdend</figcaption>
                </figure>
              </div>
            </div>
            <div class="gedrag-signalement">
              <h4>Signalement</h4>
              <ul>
                <li>Veel en disproportioneel pijngedrag</li>
                <li>Bewegen gespannen en gecontroleerd</li>
                <li>Monitoren hun lichaam angstvallig</li>
                <li>Sterke neiging tot somatiseren</li>
                <li>
                  Kinesiofobie: vermijden situaties waarin de klachten kunnen optreden of verergeren
                </li>
              </ul>
            </div>
            <div class="gedrag-gedachten">
              <h4>Veelgehoorde gedachten</h4>
              <p>“Er is iets ontzettend mis met mijn rug.”</p>
              <p>“Ik kom ooit in een rolstoel terecht.”</p>
            </div>
          </div>
          <div class="gedrag">
            <div class="gedrag-header">
              <h3>Defaitistisch</h3>
              <span
                >Denken dat de levenskwaliteit door klachten wordt aangetast en er geen hoop op
                verbetering meer is</span
              >
            </div>
            <div class="gedrag-houding">
              <h4>Houding</h4>
              <div class="header-img">
                <figure>
                  <img src="/images/pijngedrag_02.jpg" alt="Foto van somber persoon" />
                  <figcaption>Houding: somber, moedeloos</figcaption>
                </figure>
              </div>
            </div>
            <div class="gedrag-signalement">
              <h4>Signalement</h4>
              <ul>
                <li>Stemmingsklachten, moedeloos</li>
                <li>
                  Verminderde zelfwaardering door rolbeperking die de klachten met zich meebrengt
                </li>
                <li>Hoge interne lijdenslast en ervaren grote beperkingen in dagelijks leven</li>
                <li>
                  Wegcijfergedrag en overbelasting door het niet vragen van hulp of aangeven van
                  grenzen vanuit een angst anderen tot last te zijn
                </li>
                <li>Geneigd zich op langere termijn terug te trekken, inactiever te worden</li>
              </ul>
            </div>
            <div class="gedrag-gedachten">
              <h4>Veelgehoorde gedachten</h4>
              <p>“Ik ben anderen tot last als ik hulp vraag.”</p>
              <p>“Ik mag niet laten zien dat ik klachten heb, want dan vinden ze me een zeur.”</p>
            </div>
          </div>
          <div class="gedrag">
            <div class="gedrag-header">
              <h3>Niet-accepterend</h3>
              <span
                >Klachten vooral als beperking van bewegingsvrijheid zien en weigeren daaraan toe te
                geven</span
              >
            </div>
            <div class="gedrag-houding">
              <h4>Houding</h4>
              <div class="header-img">
                <figure>
                  <img src="/images/pijngedrag_03.jpg" alt="Foto van gebalde vuisten op tafel" />
                  <figcaption>Houding: overbelastend, grenzeloos</figcaption>
                </figure>
              </div>
            </div>
            <div class="gedrag-signalement">
              <h4>Signalement</h4>
              <ul>
                <li>Houden geen rekening met hun klachten</li>
                <li>Negeren structureel lichaamssignalen</li>
                <li>Passen activiteitenpatroon niet aan op verminderde belastbaarheid</li>
                <li>Geneigd door te gaan tot het écht niet meer gaat (piek-dalpatroon)</li>
              </ul>
            </div>
            <div class="gedrag-gedachten">
              <h4>Veelgehoorde gedachten</h4>
              <p>“Pijn heb ik toch wel, ik ga gewoon door.”</p>
              <p>“Als ik minder ga doen, kan ik straks helemaal niets meer.”</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Pijngedrag -->
    </section>
    <!-- Behandeling -->
    <%- include('../partials/verwijzers-behandeling') %>
    <!-- Behandeling -->
  </article>
</div>
<!-- article-container -->
