<div class="locator-container">
  <div class="locator">
    <div class="locator-instructions">
      <strong>Woonplaats of postcode</strong>, bv. Eindhoven, 1234 AB
    </div>
    <div class="locator-currentlocation">
      <svg width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.84 8.84">
        <g id="e00229ef-7053-43f5-b259-3b3cd1522ac4" data-name="Laag 1">
          <path
            d="M8.34,3.92H7.61a3.23,3.23,0,0,0-2.69-2.7V.5a.5.5,0,0,0-1,0v.72a3.23,3.23,0,0,0-2.69,2.7H.5a.5.5,0,0,0,0,1h.73A3.2,3.2,0,0,0,3.92,7.61v.73a.5.5,0,0,0,1,0V7.61A3.2,3.2,0,0,0,7.61,4.92h.73a.5.5,0,0,0,0-1ZM6,4.92H6.6A2.25,2.25,0,0,1,4.92,6.6V6a.5.5,0,0,0-1,0V6.6A2.23,2.23,0,0,1,2.24,4.92h.61a.5.5,0,0,0,0-1H2.24A2.25,2.25,0,0,1,3.92,2.23v.62a.5.5,0,0,0,1,0V2.23A2.26,2.26,0,0,1,6.6,3.92H6a.5.5,0,0,0,0,1Z"
          />
        </g>
      </svg>
      <a class="lnk-dotted">Gebruik mijn huidige locatie</a>
    </div>
    <div class="locator-form">
      <form>
        <input class="search" type="search" name="search" value="" placeholder="Best" />
        <input id="submit" type="submit" value="vind vestigingen" />
      </form>
    </div>
  </div>
</div>
<!-- locator-->
