<section id="verwijzers-behandeling">
  <div class="section-container">
    <h2>Grip op de pijn › meer kwaliteit van leven</h2>
    <p>
      Wij onderzoeken met onze cliënten welke psychosociale factoren een rol spelen in het
      aanhouden van hun pijnklachten, en daarbij het leven ernstig verstoren. Dit onderzoek
      vormt de basis voor een op de cliënt afgestemde behandelingstraject, waarin zij in 6
      maanden tijd werken aan het terugwinnen van de regie over hun leven. Daardoor is de pijn
      niet langer leidend en verhogen zij hun kwaliteit van leven.
    </p>
    <div class="behandeling-container">
      <div class="item">
        <div class="item-img">
          <img src="/images/behandeling_01.jpg" alt="Foto van een behandelaar en cliënt in sessie">
        </div>
        <div class="item-txt">
          <h3>Een individueel traject voor elke cliënt</h3>

        <p>
          Cliënten volgen gedurende twintig weken, drie tot vier keer per week, een individueel
          traject. Het Dit individuele behandelprogramma wordt qua psychologische inhoud en
          fysiek activatieplan volledig afgestemd op de persoonlijke doelen van de cliënt.
        </p>
        
        </div>
        
      </div>
      <div class="item">
        <div class="item-img">
          <img src="/images/behandeling_02.jpg" alt="Foto van een behandelteam tijdens het MDO">
        </div>
        <div class="item-txt">
          <h3>Interdisciplinair behandelteam</h3>
        <p>
          Elke cliënt krijgt een vast behandelteam toegewezen, bestaande uit één of meerdere
          gespecialiseerde psychologen en een fysiotherapeut. Binnen Het Rughuis is de
          regiebehandelaar een klinisch psycholoog, psychotherapeut of GZ-psycholoog.
        </p>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
          <img src="/images/behandeling_03.jpg" alt="Foto van een gelukkige oud-cliënt">
        </div>
        <div class="item-txt">
          <h3>Blijvend resultaat</h3>
          <p>
            Op een vijftal momenten wordt de behandeling subjectief en objectief geëvalueerd,
            gebruik makend van een standaard meetinstrumentarium. In de laatste weken van het
            traject stellen we een Lifestyle Plan op, als basis voor het
            Duurzaamheidscontroleprogramma. Daarin wordt de cliënt nog een jaar begeleid o.a. via
            e-health en controlemomenten.
          </p>
        </div>
    </div>
  </div>
</section>
<!-- Behandeling -->