<section id="contact">
  <div class="section-container">
    <h3>Contactinformatie</h3>
    <div class="contact-container">
      <div class="contact-werkdagen">
        <h4>Ma - vr van 08.00 – 18.00 uur</h4>
        <ul>
          <li class="contact-bellen">
            <a href="tel:+31880001600">+31 (0)88 000 1600</a>
            <h5>Algemeen nummer</h5>
          </li>
          <li class="contact-chat">
            <a class="btn-cta" href="#">Start een chat</a>
          </li>
        </ul>
      </div>
      <div class="contact-altijd">
        <h4>24 uur per dag</h4>
        <a class="lnk-dotted" href="#mailen">Stuur een bericht</a><br />
        <a class="lnk-dotted" href="#terugbel">Terugbelverzoek</a>
      </div>
      <div class="contact-vestigingen">
        <h4>Contact met een vestiging</h4>
        <a href="/vestigingen#vestigingen" label="alle-vestigingen">Gegevens per vestiging</a>
      </div>
    </div>
  </div>
</section>
<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <h1>Ons team van specialisten<br />staat je graag te woord</h1>
        <p>
          Heb je een vraag over de behandeling, wil je weten hoe vergoeding werkt in combinatie met
          jouw zorgverzekeraar of wil je weten of wil je een informatiegesprek aanvragen?
        </p>

        <h3>Heeft u als verwijzer vragen?</h3>
        <p>
          Bijvoorbeeld over een verwijzing, communicatie met u of de methodiek? Ook dan helpt ons
          serviceteam u graag.
        </p>
        <h3>Ben je cliënt en wil je contact opnemen met jouw behandelteam?</h3>
        <p>
          Bereik jouw persoonlijke behandelteam snel en veilig op
          <a class="lnk-dotted" href="/mijnrughuis">Mijn Rughuis.</a>
        </p>
      </div>
    </section>
    <!-- trigger -->
    <section id="mailen">
      <div class="section-container">
        <h2>Stuur een bericht</h2>
        <p>We reageren tijdens kantooruren gemiddeld binnen twee uur.</p>

        <form action="#mailen">
          <label for="bericht"><h4>Wat ik wil zeggen of vragen is...</h4></label>
          <textarea id="bericht" name="bericht"></textarea>
          <br /><br />
          <p>
            <label for="naam">Mijn naam is</label>
            <input type="text" id="naam" name="naam" />
            <label for="email">en ik ben te bereiken op emailadres</label>
            <input type="text" id="email" name="email" />.
          </p>
          <p>
            <label for="vestiging">Is je bericht gericht aan een vestiging?</label>
            <select id="vestiging" name="vestiging">
              <option value="nee">Niet specifiek</option>
              <option value="rijnmond">Het Rughuis Rijnmond</option>
              <option value="eindhoven">Het Rughuis Midden-Nederland</option>
              <option value="gelderland">Het Rughuis Gelderland</option>
              <option value="roermond">Het Rughuis Midden- en Noord-Limburg</option>
              <option value="sittard">Het Rughuis Sittard-Geleen</option>
              <option value="parkstad">Het Rughuis Parkstad</option>
            </select>
          </p>
          <p>
            <input type="submit" value="verzenden" />
          </p>
          <p>
            <sup
              >Je gegevens worden alleen gebruikt om te reageren op je bericht. Lees er meer over in
              ons <a href="/privacy#emailbeleid">emailbeleid</a>.</sup
            >
          </p>
        </form>
      </div>
    </section>
    <!-- trigger -->
  </article>
</div>
<!-- article-container -->
