<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Laat chronische rugpijn<br />je leven niet bepalen</h1>
          <p>
            Het Rughuis biedt je een intensieve behandeling wanneer je minstens 6 maanden lang
            rugpijn ervaart, en dit een grote impact op jouw leven heeft.
          </p>

          <p><a class="btn-cta" href="/afspraak" label="afspraak">afspraak maken</a></p>
          <p>
            <a class="lnk-dotted" href="/over" label="meer-weten">Ik wil meer weten</a
            >&nbsp;&nbsp;&nbsp;<a class="lnk-dotted" href="/verwijzers" label="verwijzers-info"
              >Verwijzersinformatie</a
            >
          </p>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="pijlers">
      <div class="section-container">
        <h2>Dit kun je van ons verwachten</h2>
        <p>
          Wij onderzoeken samen met jou welke factoren jouw chronische rugpijn in stand houden.
          Daarbij kijken we naar jou als geheel, dus niet alleen je fysieke gestel maar juist ook
          zaken als stress, gedrag en leefstijl.
        </p>
        <p>
          Op basis van dit onderzoek gaan we aan de slag om je terug grip op de pijn te geven. Zo
          laat je je niet meer leiden door de pijn, en krijg je een betere kwaliteit van leven.
        </p>
        <div class="pijlers">
          <div class="pijler">
            <img class="pijler-img" src="" /><a
              class="pijler-link lnk-solid"
              label="persoonlijk traject"
              href="/over/"
              >Een uniek behandeltraject</a
            >Volledig afgestemd op jouw specifieke klachten
          </div>
          <div class="pijler">
            <img class="pijler-img" src="" /><a
              class="pijler-link lnk-solid"
              label="Vast behandelteam"
              href="/over/behandelteam"
              >Een vast behandelteam</a
            >Specialisten waar je een vertrouwensband mee opbouwt
          </div>
          <div class="pijler">
            <img class="pijler-img" src="" /><a
              class="pijler-link lnk-solid"
              label="Holistische aanpak"
              href="/over/behandeling"
              >Een écht holistische aanpak</a
            >waarbij de kijken naar de samenwerking tussen lichaam en geest die jouw pijn in stand
            houdt
          </div>
          <div class="pijler">
            <img class="pijler-img" src="" /><a
              class="pijler-link lnk-solid"
              label="Lifestyle plan"
              href="/over/resultaten"
              >Een gedegen lifestyle plan</a
            >waar je de rest van je leven profijt van hebt
          </div>
        </div>
        <!-- <ul>
            <li>Korte wachttijden – Je eerste intakegesprek start gemiddeld al binnen een week</li>
            <li>Volledig vergoed door het basispakket van élke zorgverzekeraar</li>
          </ul> -->
      </div>
    </section>
    <!-- pijlers -->
    <section id="ervaringen">
      <div class="section-container">
        <div class="section-text">
          <h2>Daar heb je een leven lang profijt van</h2>
          <p>
            Onze cliënten ervaren hun behandeling als een traject dat hun leven heeft veranderd.
            Niet iedereen leeft pijnvrij, maar laten de chronische pijn niet leidend zijn in hun
            leven. Daardoor zijn ze gelukkiger, en kunnen dingen ondernemen die ze niet meer voor
            mogelijk achtten.
          </p>
        </div>
        <!-- inleidende tekst -->
        <%- include('./partials/stories') %>
        <div class="ervaringen-container">
          <h3>Recente geschreven ervaringen</h3>
          <%- include('./partials/ervaringen-recent') %>
        </div>
      </div>
    </section>
    <!-- ervaringen -->
    <section id="reviews">
      <div class="section-container">
        <div class="section-text">
          <h2>Bewezen succes</h2>
          <p>
            Het Rughuis heeft sinds 2012 jaarlijks meer dan 1500 patiënten succesvol geholpen om hun
            chronische pijn de baas te worden en zo een gelukkiger leven te leiden.
          </p>
        </div>

        <div class="section-reviews">
          <div class="review review-cqi">
            <h3 class="review-title">Cliënttevredenheidscijfer</h3>
            <div class="review-score">8,7<span class="text-sub">/10</span></div>
            <span class="review-description">Consumer Quality Index<br />gemiddelde 01-2020</span>
          </div>
          <div class="review review-zkn">
            <h3 class="review-title">Zorgkaart Nederland</h3>
            <div class="review-score">8,8<span class="text-sub">/10</span></div>
            <span class="review-description">88% beveelt Het Rughuis aan<br />56 waarderingen</span>
          </div>
          <div class="review review-fb">
            <h3 class="review-title">Facebook</h3>
            <div class="review-score">4,4<span class="text-sub">/5</span></div>
            <span class="review-description">
              <svg width="100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.27 17.77">
                <g id="b044401b-7e7a-4b04-8523-24a1c5e66b4e" data-name="Laag 2">
                  <path
                    d="M9.34,0l2.31,6.64,7,.15L13.08,11l2,6.73-5.77-4-5.77,4L5.6,11,0,6.79l7-.15ZM26.68,6.64l-7,.15L25.25,11l-2,6.73,5.78-4,5.77,4-2-6.73,5.61-4.25-7-.15L29,0Zm19.65,0-7,.15L44.9,11l-2,6.73,5.77-4,5.78,4-2-6.73L58,6.79l-7-.15L48.63,0ZM66,6.64l-7,.15L64.54,11l-2,6.73,5.77-4,5.77,4L72,11l5.6-4.25-7-.15L68.28,0Zm19.65,0-7,.15L84.19,11l-2,6.73,5.78-4,5.77,4-2-6.73,5.61-4.25-7-.15L87.93,0Z"
                    style="fill:#1d1d1b"
                  />
                </g>
              </svg>
              <br />94 waarderingen</span
            >
          </div>
        </div>
      </div>
    </section>
    <!-- reviews -->
    <section id="store-locator">
      <div class="section-container">
        <h2>Vind een Rughuis in de buurt</h2>
        <%- include('./partials/store-locator') %>
        <p><a class="lnk-dotted" href="/vestigingen#vestigingen">bekijk alle vestigingen</a></p>
      </div>
    </section>
    <!-- vestigingen -->
    <section id="afspraak">
      <div class="section-container">
        <h2>Neem de leiding over je leven terug</h2>
        <p>Vraag nu een kosteloos en vrijblijvend kennismakingsgesprek aan.</p>
        <a class="btn-cta" href="/afspraak" label="afspraak">afspraak maken</a>
      </div>
    </section>
    <!-- afspraak -->
  </article>
</div>
<!-- article-container -->
