<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Als rugpijn je leven beheerst<br />zijn wij er voor jou</h1>
          <p>
            Het Rughuis biedt je een intensieve behandeling wanneer je minstens 6 maanden lang
            rugpijn ervaart, en dit een grote impact op jouw leven heeft.
          </p>
          <p>
            Tijdens de behandeling onderzoeken we zes maanden lang, in drie sessies per week en
            vanuit verschillende disciplines, welke factoren jouw pijn in stand houden. Daarbij
            krijg je unieke inzichten die je helpen om de pijn terug de baas te worden, en daarmee
            de leiding over je leven terug te winnen.
          </p>
          <p><a class="btn-cta" href="/afspraak" label="afspraak">afspraak maken</a></p>
          <p>
            <a class="lnk-dotted" href="./over/voor-wie" label="zelftest"
              >Wanneer past Het Rughuis bij jou?</a
            >
            <a class="lnk-dotted" href="/verwijzen" label="verwijsgids">Wanneer verwijzen</a>
          </p>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="chronische-pijn">
      <div class="section-container">
        <h2>Het Rughuis geeft je unieke inzichten</h2>
        <p>
          Als je chronische rugpijn ervaart, weet je dat het vaak moeilijk is om één duidelijke
          oorzaak aan te wijzen. Jouw lichaam én je brein kunnen dan samen zorgen dat de pijn
          aanhoudt. Maar welke factoren dat precies zijn, is voor iedereen anders.
        </p>
        <p>
          Bekijk ook de video:
          <a class="lnk-dotted video" href="/rugklachten/wat-is-chronische-pijn"
            >'Wat is chronische pijn?'</a
          >
        </p>
        <p>
          Tijdens de behandeling onderzoeken onze specialisten samen met jou welke specifieke
          factoren jouw pijn in stand houden, en stellen een uniek behandeltraject samen dat op jou
          is toegespitst.
        </p>
        <p><a class="btn-cta" href="/over/behandeling">De behandeling</a></p>
        <br />
      </div>
    </section>
    <!-- Chronische Pijn -->
    <section id="behandelteam">
      <div class="section-container">
        <h2>Je krijgt een persoonlijk team dat je kunt vertrouwen</h2>
        <p>
          Tijdens de intake maak je kennis met jouw persoonlijke behandelteam dat jou gedurende het
          hele traject zal begeleiden. Zij zullen uitgebreid met jou praten, maar overleggen
          daarnaast met elkaar vanuit hun eigen expertise welke aanpak jij nodig hebt.
        </p>
        <p>
          Zo hoef je slechts één keer je verhaal te doen, en ben je verzekerd dat de behandeling op
          jouw situatie is toegespitst.
        </p>
        <p>
          <a class="lnk-dotted" href="/over/behandelteam">Het behandelteam</a>
        </p>
      </div>
    </section>
    <!-- behandelteam -->
    <section id="resultaat">
      <div class="section-container">
        <h2>Resultaat waar je de rest van je leven profijt van hebt</h2>
        <p>
          Tijdens het behandeltraject krijg je naast inzichten ook praktische tips en handvaten mee,
          die je ook na de behandeling helpen om behaalde resultaten in het dagelijks leven toe te
          passen. Ook wordt een persoonlijk lifestyle-plan opgesteld en ondersteunen we met e-health
          modules en twee controlemomenten jouw voortgang.
        </p>
        <a class="lnk-dotted" href="/over/resultaten"> Hoe bewaken we jouw behaalde resultaten</a>
      </div>
    </section>
    <!-- resultaat -->
    <section id="vergoeding">
      <div class="section-container">
        <h2>Volledig vergoed in de basisverzekering</h2>
        <p>
          Onze behandeling maakt deel uit van het basispakket van jouw ziektekostenpolis, bij welke
          zorgverzekeraar je ook verzekerd bent. Wel moet je rekening houden met het wettelijke
          eigen risico, voor zover je dat nog niet hebt verbruikt.
        </p>
        <h3>Heb je een vraag over de vergoeding?</h3>
        <a class="lnk-dotted" href="/over/vergoeding"> We beantwoorden hem graag</a>
      </div>
    </section>
    <!-- vergoeding -->
    <section id="wachttijden">
      <div class="section-container">
        <h2>Wachttijden</h2>
        <p>
          Wij streven ernaar om je zo snel mogelijk te laten starten met de behandeling. Heb je een
          verwijsbrief, dan kunnen we meteen een intake plannen. De tijd hiertussen noemen we de
          aanmeldtijd.
        </p>
        <p>
          Volgt een positief advies, dan plannen we de start van de behandeling. De tijd hiertussen
          noemen we de behandeltijd.
        </p>
        <h3>Wat zijn de wachttijden bij Het Rughuis?</h3>
        <a class="lnk-dotted" href="/over/wachttijden"> Bekijk de wachttijden per vestiging</a>
      </div>
    </section>
    <!-- wachttijden -->
  </article>
</div>
<!-- article-container -->
