<nav id="menu-footer">
  <ul>
    <li><h3>Rugklachten</h3></li>
    <li><a href="/hoge-rugklachten">Hoge rugklachten</a></li>
    <li><a href="/lage-rugklachten">Lage rugklachten</a></li>
    <li><a href="/bekkenklachten">Bekkenklachten</a></li>
    <li><a href="/nekklachten">Nekklachten</a></li>
    <li><a href="/hernia">Hernia</a></li>
  </ul>
  <ul>
    <li><h3>&nbsp;</h3></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/klachtenregeling">Klachtenregeling</a></li>
    <li><a href="/kwaliteitsstatuut">Kwaliteitsstatuut</a></li>
    <li><a href="/wachttijden">Wachttijden</a></li>
  </ul>
</nav>
<!-- footer-menu -->
