<div id="crumb">
  <div class="crumb-container"><a href="/over">Over Het Rughuis</a> > De Behandeling</div>
</div>
<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Wij helpen je om terug grip te krijgen<br />op jouw rugklachten</h1>
          <p>
            Tijdens de behandeling werken we samen met jou aan je mentale balans, de versterking van
            je rug, aan het verbeteren van je beweeglijkheid en aan het leren veranderen maar ook
            leren accepteren wat niet veranderd kan worden maar waar je mee leert omgaan.
          </p>
          <p>
            <a class="btn-cta" href="/afspraak" label="zelftest">Afspraak maken</a>
          </p>
          <p><a class="lnk-dotted" href="/over/behandeling#aanpak">Hoe gaan we te werk?</a></p>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="aanpak">
      <div class="section-container">
        <h2>Een interdisciplinaire aanpak, wat is dat?</h2>
        <p>
          Als je start met je behandeling bij Het Rughuis hebben we vastgesteld dat je lichaam en
          hersenen samenwerken bij het in stand houden van de pijnklachten, en dat dit je leven
          enorm beperkt.
        </p>
        <p>
          Daarom krijg je oefeningen om lichamelijk én psychisch goed te kunnen functioneren. Je
          krijgt unieke inzichten, hoe je lichaam werkt en hoe je op signalen inspeelt. Zo werken we
          toe naar het punt dat je inziet dat pijnklachten samengaan met gedachten, gevoelens en
          gedrag.
        </p>
      </div>
    </section>
    <!-- aanpak -->
    <section id="keuzes">
      <div class="section-container">
        <h2>Keuzes en gedrag</h2>
        <p>
          Wat kun je eigenlijk van jezelf vragen? Welke keuzen maak je nu bewust, hoe goed zorg je
          voor jezelf? Als dat een bron van spanning blijkt, dan zul je daar keuzes moeten maken.
          Niets is zo taai als ingesleten gedrag. Om chronische pijnklachten te verlichten, gaan we
          aan de slag met die ingesleten gedragspatronen. Het kost veel tijd om nieuw gedrag aan te
          leren. Intensief en langdurig hier aan werken geeft het beste resultaat.
        </p>
      </div>
    </section>
    <section id="cta">
      <div class="section-container">
        <h2>Zet vandaag de eerste stap</h2>
        <p>Vraag een informatiegesprek aan bij jou in de buurt.</p>
        <p><a class="btn-cta" href="/afspraak">Afspraak maken</a></p>
        <a class="lnk-dotted" href="/over">Meer over Het Rughuis</a>&nbsp;&nbsp;&nbsp;<a
          class="lnk-dotted"
          href="/vestigingen"
          >Vestiging in de buurt vinden</a
        >
      </div>
    </section>
  </article>
</div>
<!-- article-container -->
