<div id="crumb">
  <div class="crumb-container"><a href="/over">Over Het Rughuis</a> > Het Behandelteam</div>
</div>
<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Een vast behandelteam<br />met persoonlijke aandacht</h1>
          <p>
            Tijdens de intakeprocedure maak je meteen kennis met jouw vaste behandelteam. Het zijn
            deze mensen die samen met jou de komende maanden gaan werken. Zij zullen behalve met jou
            ook onderling communiceren over de invulling van de behandeling en je voortgang.
          </p>
          <p>
            Zo hoef je maar één keer je verhaal te doen, bij de volgende sessie is iedereen in jouw
            team op de hoogte.
          </p>
          <p>
            <a class="btn-cta" href="/afspraak" label="zelftest">Afspraak maken</a>
          </p>
          <p>
            <a class="lnk-dotted" href="/over/behandelteam#specialisten"
              >Wie zitten er in het behandelteam?</a
            >&nbsp;&nbsp;&nbsp; <a class="lnk-dotted" href="/over">Meer over Het Rughuis</a>
          </p>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="specialisten">
      <div class="section-container">
        <div class="behandelaar">
          <h2>Psycholoog Psychosomatiek</h2>
          <p>
            “We weten als geen ander dat pijn iets met je doet. Maar je doet (bewust of onbewust)
            ook iets met die pijn. Samen gaan we bekijken of en hoe je lichaam en je hersenen
            samenwerken bij de instandhouding van je pijn, en gaan hier aan werken.”
          </p>
        </div>
        <div class="behandelaar">
          <h2>Cognitieve Gedragstherapeut</h2>
          <p>
            “Samen gaan we onderzoeken we of ingesleten gedragspatronen jouw pijn in stand houden,
            of zelfs erger maken. We gaan een antwoord vinden op vragen als, waarom doe je wat je
            doet? Waarom ben je zoals je bent? En vooral: Welke invloed heeft dit op de pijn?“
          </p>
        </div>
        <div class="behandelaar">
          <h2>Fysiotherapeut</h2>
          <p>
            “Samen met mij gaan we in kaart brengen waar je fysiek staat. Tijdens de behandeling
            gaan we de spieren rondom je rug en wervelkolom versterken, en krijg je alle handvatten
            om het resultaat van deze oefeningen ook na je behandeling door te zetten.”
          </p>
        </div>
        <div class="behandelaar">
          <h2>Psycholoog Vitaliteit en Leefstijl</h2>
          <p>
            [invulling onbekend]
          </p>
        </div>
        <div class="behandelaar">
          <h2>Regiebehandelaar</h2>
          <p>
            “Tijdens het behandeltraject ben ik het centrale aanspreekpunt voor jou én het
            behandelteam. Ik zorg daarnaast dat jouw behandeling, hoewel die uniek op jouw klachten
            is toegespitst, volgens de regels van de behandelmethode verloopt.”
          </p>
        </div>
      </div>
    </section>
    <!-- aanpak -->
    <section id="cta">
      <div class="section-container">
        <h2>Maak persoonlijk kennis</h2>
        <p>Vraag nu een informatiegesprek aan op een vestiging bij jou in de buurt.</p>
        <p><a class="btn-cta" href="/afspraak">Afspraak maken</a></p>
        <a class="lnk-dotted" href="/over">Meer over Het Rughuis</a>&nbsp;&nbsp;&nbsp;<a
          class="lnk-dotted"
          href="/vestigingen"
          >Vestiging in de buurt vinden</a
        >
      </div>
    </section>
  </article>
</div>
<!-- article-container -->
