<div id="crumb">
  <div class="crumb-container"><a href="/over">Over Het Rughuis</a> > Voor Wie</div>
</div>
<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Heeft rugpijn een<br />grote impact op jouw leven?</h1>
          <p>
            Het Rughuis biedt je een intensieve behandeling wanneer je minstens 6 maanden lang
            rugpijn ervaart, en dit een grote impact op jouw leven heeft.
          </p>
          <p>
            Onze belofte is: <i>“als rugpijn je leven beheerst zijn wij er voor jou”</i>. Maar
            wanneer is dit het geval? Om je hier een betere indruk van te geven, en zo beter te
            kunnen bepalen of een afspraak bij Het Rughuis nut heeft, hebben we een korte zelftest
            samengesteld.
          </p>
          <p>Deze test neemt 2 minuutjes in beslag.</p>
          <p>
            <a class="btn-cta" href="#zelftest" label="zelftest">Start de test</a>
          </p>
          <p>
            <a class="lnk-dotted" href="/over">Meer over Het Rughuis</a>&nbsp;&nbsp;&nbsp;

            <a class="lnk-dotted" href="/afspraak">Nu een afspraak maken</a>
          </p>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="zelftest">
      <div class="section-container">
        <div class="section-text">
          <h2>Geef aan in hoeverre de volgende 7 uitspraken voor jou van toepassing zijn</h2>
          <sup
            >Disclaimer: deze test biedt <strong>geen medische diagnose</strong>, maar is bedoeld om
            je een betere indruk te geven of een afspraak bij Het Rughuis nut heeft.</sup
          >
        </div>
        <div class="section-zelftest">
          <form>
            <div id="vraag-1" class="vraag">
              <label for="slider1">1. Ik ben in gedachten veel met mijn rugklachten bezig.</label>
              <input type="range" id="sliderOne" name="slider1" min="0" max="10" value="0" />
              <div class="score" id="ratingOne">0</div>
            </div>

            <div id="vraag-2" class="vraag">
              <label for="slider2">2. Ik ben gevoelig voor spanningen in mijn lichaam.</label>
              <input type="range" id="sliderTwo" name="slider2" min="0" max="10" value="0" />
              <div class="score" id="ratingTwo">0</div>
            </div>

            <div id="vraag-3" class="vraag">
              <label for="slider3"
                >3. Door mijn rugklachten mis ik de dingen die ik het liefst doe.</label
              >
              <input type="range" id="sliderThree" name="slider3" min="0" max="10" value="0" />
              <div class="score" id="ratingThree">0</div>
            </div>

            <div id="vraag-4" class="vraag">
              <label for="slider4"
                >4. De meeste mensen begrijpen niet hoe ernstig mijn aandoening is.</label
              >
              <input type="range" id="sliderFour" name="slider4" min="0" max="10" value="0" />
              <div class="score" id="ratingFour">0</div>
            </div>
            <div id="vraag-5" class="vraag">
              <label for="slider5"
                >5. Als ik pijn heb word ik bang dat de pijn erger zal worden</label
              >
              <input type="range" id="sliderFive" name="slider5" min="0" max="10" value="0" />
              <div class="score" id="ratingFive">0</div>
            </div>
            <div id="vraag-6" class="vraag">
              <label for="slider6"
                >6. Als ik rugpijn heb ga ik door met mijn bezigheden, maar met minder
                inspanning.</label
              >
              <input type="range" id="sliderSix" name="slider6" min="0" max="10" value="0" />
              <div class="score" id="ratingSix">0</div>
            </div>
            <div id="vraag-7" class="vraag">
              <label for="slider7">7. Ik sta machteloos tegenover mijn rugklachten.</label>
              <input type="range" id="sliderSeven" name="slider7" min="0" max="10" value="0" />
              <div class="score" id="ratingSeven">0</div>
            </div>
            <input type="submit" value="Verzenden" action="" />
          </form>
          <div class="testresultaat">
            <h2>Jouw resultaat</h2>
            <div class="resultaat resultaat-negatief">
              <h3>Negatief</h3>
              <p>
                <strong
                  >Hoewel aanhoudende rugpijn enorm vervelend kan zijn heeft niet iedereen een
                  intensief traject zoals die bij Het Rughuis nodig.</strong
                >
              </p>
              <p>
                Soms volstaat een activerende aanpak die een minder zware stempel drukt op je
                sociale en emotionele gestel. We raden je dan ook aan om advies in te winnen bij de
                huisarts welke behandeling past bij jouw klachten. Wil je alsnog een
                <a class="lnk-dotted" href="/afspraak">afspraak</a> bij ons maken, dan ben je
                natuurlijk van harte welkom.
              </p>
            </div>
            <div class="resultaat resultaat-positief">
              <h3>Positief</h3>
              <p>
                <strong
                  >Uit de vragenlijst kunnen we opmaken dat een afspraak met Het Rughuis nuttig kan
                  zijn.</strong
                >
              </p>
              <p>
                We nodigen je dan ook graag uit voor een informatiegesprek. Hiervoor heb je nog geen
                verwijsbrief nodig, maar we raden je aan om ook advies in te winnen (bv. bij je
                huisarts) of een behandeling bij Het Rughuis past bij jouw klachten.
              </p>
              <p><a class="btn-cta" href="/afspraak">Afspraak maken</a></p>
            </div>
          </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      </div>
    </section>
    <!-- trigger -->
  </article>
</div>
<!-- article-container -->
