<div id="crumb">
  <div class="crumb-container"><a href="/over">Over Het Rughuis</a> > Wachttijden</div>
</div>
<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Korte wachttijden,<br />daar gaan we voor</h1>
          <p>
            We houden de wachttijden graag kort. Wil je starten met de intake, dan vindt het eerste
            intakegesprek doorgaans binnen twee weken plaats. Volgt een positief adviesgesprek, dan
            start je behandeling doorgaans binnen twee weken.
          </p>
          <p>
            <a class="btn-cta" href="#wachttijden" label="wachttijden">Wachttijden per vestiging</a>
          </p>
          <p><a class="lnk-dotted" href="#bemiddeling">Over wachttijdbemiddeling</a></p>
          <p><a class="lnk-dotted" href="/over">Meer over Het Rughuis</a></p>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="wachttijden">
      <div class="section-container">
        <h2>Twee soorten wachttijden</h2>
        <p>Er zijn twee verschillende soorten wachttijden.</p>
        <p>De Aanmeldwachttijd is het aantal weken tussen het maken van de eerste afspraak voor een intake en de datum van het eerste intakegesprek.</p>
        <p>De Behandelwachttijd is het aantal weken tussen de datum van de adviesgesprek en de start van de behandeling.</p>
        <h2>Wachttijden per vestiging</h2>
        <div class="wachttijd-vestiging">
          <h3>Het Rughuis Gelderland</h3>
          <div class="adres">Kerkenbos 1008, 6546BA Nijmegen</div>
          <div class="wachttijden">
            <p>Aanmeldtijd: 1 week</span></p>
            <p>Behandeltijd: <span class="behandeltijd">1 week</span></p>
          </div>
        </div>
        <div class="wachttijd-vestiging">
          <h3>Het Rughuis Rijnmond</h3>
          <div class="adres">Cypresbaan 29, 2908LT Capelle aan den IJssel</div>
          <div class="wachttijden">
            <p>Aanmeldtijd: <span class="aanmeldtijd">4 weken</span></p>
            <p>Behandeltijd: <span class="behandeltijd">4 weken</span></p>
          </div>
        </div>
        <div class="wachttijd-vestiging">
          <h3>Midden-Nederland</h3>
          <div class="adres">Boschdijk 24, 5612AM Eindhoven</div>
          <div class="wachttijden">
            <p>Aanmeldtijd: <span class="aanmeldtijd">1 week</span></p>
            <p>Behandeltijd: <span class="behandeltijd">8 weken</span></p>
          </div>
        </div>
        <div class="wachttijd-vestiging">
          <h3>Het Rughuis Midden- en Noord-Limburg</h3>
          <div class="adres">Westhoven 5, 6042NV Roermon</div>
          <div class="wachttijden">
            <p>Aanmeldtijd: <span class="aanmeldtijd">1 week</span></p>
            <p>Behandeltijd: <span class="behandeltijd">1 week</span></p>
          </div>
        </div>
        <div class="wachttijd-vestiging">
          <h3>Het Rughuis Sittard-Geleen</h3>
          <div class="adres">Vijverweg 28, 6133AR Sittard</div>
          <div class="wachttijden">
            <p>Aanmeldtijd: <span class="aanmeldtijd">1 week</span></p>
            <p>Behandeltijd: <span class="behandeltijd">1 week</span></p>
          </div>
        </div>
        <div class="wachttijd-vestiging">
          <h3>Het Rughuis Zuid-Limburg</h3>
          <div class="adres">Euregiopark 14, 6467JE Kerkrade</div>
          <div class="wachttijden">
            <p>Aanmeldtijd: <span class="aanmeldtijd">1 week</span></p>
            <p>Behandeltijd: <span class="behandeltijd">1 week</span></p>
          </div>
        </div>
      </div>
    </section>
    <!-- aanpak -->
    <section id="bemiddeling">
      <div class="section-container">
        <h2>Moet je lang wachten op zorg?</h2>
        <p>Mocht de wachttijd voor een intakegesprek langer zijn dan 4 weken, of moet je na een positief adviesgesprek langer dan 10 weken wachten op de start van de behandeling?</p>
        <p>Neem dan contact op met je zorgverzekeraar of het zorgkantoor voor zorgbemiddeling. Zij kunnen zien waar je het snelste terecht kunt. Zij hebben de plicht voor jou te zoeken naar een andere aanbieder waar je eerder terecht kan.</p>
        <p>Bekijk meer informatie over wachttijdbemiddeling op de website van de Nederlandse Zorgautoriteit <a class="lnk-dotted lnk-ext" href="https://www.nza.nl/contact/informatie-voor-patient-en-verzekerde/zorgplicht-hoe-krijg-ik-de-zorg-die-ik-nodig-heb" rel="noreferrer noopener" target="_blank">NZA</a></p>
      </div>
    </section>
    <section id="cta">
      <div class="section-container">
        <h2>Zet vandaag de eerste stap</h2>
        <p>Vraag een informatiegesprek aan bij jou in de buurt.</p>
        <p><a class="btn-cta" href="/afspraak">Afspraak maken</a></p>
        <a class="lnk-dotted" href="/over">Meer over Het Rughuis</a>&nbsp;&nbsp;&nbsp;<a
          class="lnk-dotted"
          href="/vestigingen"
          >Vestiging in de buurt vinden</a
        >
      </div>
    </section>
  </article>
</div>
<!-- article-container -->
