<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Een behandeling bij<br />chronische pijn in jouw regio</h1>
          <p>
            Het Rughuis heeft vestigingen in het hele land. Vind jouw dichtstbijzijnde vestiging of
            bekijk alle vestigingen in het overzicht.
          </p>
          <p>
            <a class="btn-cta" href="#store-locator" label="store-locator">Vestiging zoeken</a>
          </p>
          <p>
            <a class="lnk-dotted" href="#vestigingen" label="meer-weten"
              >Alle vestigingen bekijken</a
            >
          </p>
          <p>
            <a class="lnk-dotted" href="/verwijzers" label="verwijzers-info"
              >Verwijzen naar een vestiging</a
            >
          </p>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="store-locator">
      <div class="section-container">
        <h2>Vind een Rughuis in de buurt</h2>
        <%- include('./partials/store-locator') %>
      </div>
    </section>
    <!-- store-locator -->
    <section id="vestigingen">
      <div class="section-container">
        <h2>Alle vestigingen van Het Rughuis</h2>
        <%- include('./partials/vestigingen-alle') %>
      </div>
    </section>
    <!-- alle vestigingen -->
    <section id="afspraak">
      <div class="section-container">
        <h2>Neem de leiding over je leven terug</h2>
        <p>Vraag nu een kosteloos en vrijblijvend kennismakingsgesprek aan.</p>
        <a class="btn-cta" label="afspraak">afspraak maken</a>
      </div>
    </section>
    <!-- afspraak -->
  </article>
</div>
<!-- article-container -->
