<div id="crumb">
  <div class="crumb-container"><a href="/over">Over Het Rughuis</a> > Resultaten</div>
</div>
<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Eindelijk je leven terug,<br />dat is het belangrijkste</h1>
          <p>
            Voor ons is een traject geslaagd wanner je jouw pijn begrijpt en het gevoel hebt dat je
            weer grip hebt op de pijn en op je leven. En daardoor meer kwaliteit van leven. We
            besteden daarom veel aandacht aan hoe je de rest van je leven profijt kan heb van de
            resultaten die je hier behaalt.
          </p>
          <p>
            Verwijzers:
            <a class="lnk-dotted" href="/verwijzers/resultatenanalyse"
              >Bekijk onze wetenschappelijke resultatenanalyse
            </a>
          </p>
          <p><a class="lnk-dotted" href="#motivatie">Wat maakt onze aanpak succesvol?</a></p>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="motivatie">
      <div class="section-container">
        <h2>Een duurzame verandering doormaken</h2>
        <p>
          Duurzaamheid is noodzaak, want we zien dat het makkelijk is om in het ingesleten, oude
          gedrag te vervallen. Dat hoef je jezelf niet te verwijten, het is heel menselijk.
        </p>
        <p>
          Tijdens je behandeling motiveren we je dan ook met praktische tips en handvatten, om de
          behaalde resultaten uiteindelijk de norm te laten worden.
        </p>
      </div>
    </section>
    <!-- motivatie -->
    <section id="recensies">
      <div class="section-container">
        <h2>Meer dan 400 cliënten schreven een recensie</h2>
        <p>Veel cliënten vinden de aanpak een verademing. Ze voelen zich eindelijk gesteund.</p>
        <h3>Recente cliëntervaringen</h3>
        <%- include('../partials/ervaringen-recent') %>
        <p><a class="btn-cta" href="/reviews">Meer ervaringen bekijken</a></p>
        <p>
          <a class="lnk-dotted" href="/afspraak">Een afspraak maken</a>&nbsp;&nbsp;&nbsp;<a
            class="lnk-dotted"
            href="/vestigingen"
            >Vestiging in de buurt vinden</a
          >
        </p>
      </div>
    </section>
  </article>
</div>
<!-- article-container -->
