<div id="crumb">
  <div class="crumb-container"><a href="/over">Over Het Rughuis</a> > Vergoeding</div>
</div>
<div class="article-container">
  <article>
    <section id="trigger" class="elevator">
      <div class="section-container">
        <div class="section-text">
          <h1>Volledig vergoed<br />door de basisverzekering</h1>
          <p>
            De behandeling van Het Rughuis valt onder Gespecialiseerde GGZ, en wordt daarmee
            volledig vergoed door de basisverzekering van elke zorgverzekeraar.
          </p>
          <p>
            Je hoeft dus niets te betalen behalve de kosten voor het wettelijk verplichte eigen
            risico, voor zover je dat nog niet hebt verbruikt. Kijk voor het huidige eigen risico op
            de website van
            <a
              class="lnk-dotted lnk-ext"
              href="https://www.rijksoverheid.nl/onderwerpen/zorgverzekering/vraag-en-antwoord/eigen-risico-zorgverzekering"
              target="_blank"
              rel="noopener noreferrer"
              >Rijksoverheid</a
            >.
          </p>
          <h2>Vragen over kosten en vergoeding</h2>
          <p>
            We beantwoorden graag al je specifieke vragen over de kosten en vergoedingen per
            verzekeraar.
          </p>
          <p>
            <a class="btn-cta" href="/contact" label="vraag-vergoeding">Neem contact op</a>
          </p>
        </div>
      </div>
    </section>
    <!-- trigger -->
    <section id="cta">
      <div class="section-container">
        <h2>Zet vandaag de eerste stap</h2>
        <p>Vraag een informatiegesprek aan bij jou in de buurt.</p>
        <p><a class="btn-cta" href="/afspraak">Afspraak maken</a></p>
        <a class="lnk-dotted" href="/over">Meer over Het Rughuis</a>&nbsp;&nbsp;&nbsp;<a
          class="lnk-dotted"
          href="/vestigingen"
          >Vestiging in de buurt vinden</a
        >
      </div>
    </section>
  </article>
</div>
<!-- article-container -->
